# local environment settings if Django is running in docker container
# settings.py finds this file in the same directory as manage.py
DB_NAME=mapbe
DB_PORT=5432
DB_USER=geodjango
DB_SERVER=postgis17

DB_PASSWORD_FILE=/run/secrets/app_db_password

DEBUG=0
INTERNAL_IPS="127.0.0.1, 24.21.163.40, 172.19.0.1"
ALLOWED_HOSTS="dev.ghormley.net, .localhost, 127.0.0.1, [::1], 172.232.189.171"

CSRF_TRUSTED_ORIGINS="http://localhost, https://dev.ghormley.net"

DJANGO_ADMINS="Chris <chris@ghormley.net>",

TIME_ZONE=America/Los_Angeles

# use the cookie-based session engine
SESSION_ENGINE=django.contrib.sessions.backends.signed_cookies

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=chris.ghormley
