# local environment settings if Django is running on host, not in container
# settings.py finds this file in its parent directory (same as manage.py)
# each line must be in the format NAME=VALUE (no spaces)
DB_NAME=dbname
DB_PORT=5433
DB_USER=djangodb
DB_SERVER=postgis
DB_PASSWORD_FILE=/path/to/password/file

DEBUG=0
INTERNAL_IPS="127.0.0.1, 127.0.0.2, 127.0.0.3"
ALLOWED_HOSTS="mydomain.com, .localhost, 127.0.0.1, [::1]"

CSRF_TRUSTED_ORIGINS="http://localhost, https://www.mydomain.com"

DJANGO_ADMINS="Chris <chris@ghormley.net>",

TIME_ZONE=America/Los_Angeles

# use the cookie-based session engine
SESSION_ENGINE=django.contrib.sessions.backends.signed_cookies

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=userid
