*DS_Store
*.pyc
*.zip
*gz
env
wait
junk
*.code-workspace
.vscode
collector/pio/static/pio/lib/ol/
collector/collector/localsettings.py
collector/static
collector/app_staticfiles
#postgis_data
*password.txt
*key.txt
postgis_data/pgdata/base
postgis_data/pgdata/global
postgis_data/pgdata/log
postgis_data/pgdata/
postgis_data/pgdata/postgresql.auto.conf
postgis_data/pgdata/postmaster.opts
postgis_data/pgdata/postmaster.pid
postgis_data/pgdata/*.pem
