# deprecated - use pyproject.toml with uv instead
wheel

Django==5.2.7
django-environ

GEOS
PROJ
django-geojson

# Install different packages based on platform
psycopg[binary]>=3.0 ; sys_platform == 'darwin' or sys_platform == 'win32'
psycopg>=3.0 ; sys_platform == 'linux'

GDAL==3.11.4 ; sys_platform == 'darwin' or sys_platform == 'win32'
GDAL==3.11.0 ; sys_platform == 'linux'

# required for 2FA
phonenumbers
webauthn
django-formtools
cffi

django-debug-toolbar

# security
django-csp>=4.0
django-allauth
django-allauth[mfa]

django-extensions
djangorestframework
djangorestframework-gis==1.2.0
django-leaflet
markdown
django-filter
gunicorn
tzdata
geoip2

django-json-widget
