wheel

Django==5.2.7
django-environ
GDAL==3.8.4

GEOS
PROJ
django-geojson

# required for 2FA
phonenumbers
webauthn
django-formtools
cffi

django-debug-toolbar

# security
django-csp>=4.0
django-allauth
django-allauth[mfa]

psycopg>=3.0
django-extensions
djangorestframework
djangorestframework-gis==1.2.0
django-leaflet
markdown
django-filter
gunicorn
tzdata
geoip2

django-json-widget
