{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{{ title | default:"Wildfire Risk Management System Survey" }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico" />

		{# inject map configuration object in a script tag #}
		{# not executed inline so not subject to content security policy! #}

        {% autoescape off %}
	    {{ mapconfig|json_script:"mapconfig-data"}}

		<script nonce="{{CSP_NONCE}}">
		  window.context = {
              mapconfigid: "{{ mapconfigid }}",
			  responseid: "{{ responseid|default_if_none:0 }}",
			  projectid: "{{ projectid|default_if_none:0 }}",
                           maplayers: [{% for lyr in maplayers %}{
                  z_order: {{ lyr.z_order }},
                  config: {{ lyr.config }},
                               features: "{{ lyr.layer.geojson }}"}{% if not forloop.last %},{% endif %}{% endfor %}],
              ip_address: "{{ ip|default_if_none:'' }}",
              country: "{{ country|default_if_none:'' }}",
              city: "{{ city|default_if_none:'' }}",

		  }
		</script>

        {% endautoescape %}

<script src="https://cdn.jsdelivr.net/npm/ol@v10.6.0/dist/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.6.0/ol.css">

<link rel="stylesheet" href="{% static 'pio/css/map.css' %}">

<!-- bootstrap5 for modal -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

	</head>
<body>
{% csrf_token %}
<div class="hidden" id="static_img_base">{% static 'pio/img/' %}</div>
<div class="hidden" id="static_json_base">{% static 'pio/geojson/' %}</div>
<div class="position-relative">
  <div class="position-absolute top-0 start-0 mx-5 my-2 p-2 bg-white bg-opacity-75 rounded shadow-sm z-2" id="map_status2">
    <span class="md-bold" id="map_title"></span>
    <span> </span><span class="md-bold" id="map_info"></span>
  </div>

  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer"></a>
    <div id="popup-content"></div>
  </div>

    <!--
	<div style="position:absolute; z-index:1; left:45px; top:45px">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#helpModal">
        Help
      </button>
	</div>
    -->

	<div id="map" class="map">
	</div>
</div>

<!-- Intro howto Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Tips for using the map</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This map is used for collecting information about <span id="site_purpose">wildfire resilience and vulnerability</span> in the area surrounding <span id="site_description"></span>. Here are a few tips for how to interact with the map.</p>

		<div class="float-right">
		  <div class="pad-25">
			<img src="{% static 'pio/img/zoom_scroll.gif' %}">
			<p class="sm-bold">Panning and zooming</p>
			<img class="float-right" src="{% static 'pio/img/area_painting.gif' %}">
			<p class="sm-bold">Pointing out areas</p>
		  </div>
		</div>
		<div class="pad-25">
		  <p><em>Move the map</em></p>
		  <ul>
			<li>Pan the map by clicking and dragging with the mouse.</li>
			<li>Zoom the map by using the mouse scroll-wheel.</li>
		  </ul>
		  <p><em>Point out locations</em></p>
		  <ul>
			<li>Click once to place a point on the map.</li>
			<li>The size of the point matches the colored circle surrounding the cursor.</li>
			<li>Zooming-in lets you mark locations in more detail while zooming-out is useful for marking general areas.</li>
		  </ul>
          <p><em>Modify points</em></p>
          <ul>
            <li>Mark the checkboxes to describe the location.</li>
            <li>Delete a point by clicking on the delete button.</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Bootstrap 5 JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Check URL and show modal if needed -->
<script nonce="{{CSP_NONCE}}">
  document.addEventListener('DOMContentLoaded', function() {
      // Parse the URL parameters
      const urlParams = new URLSearchParams(window.location.search);

      // Check if 'showHelp' parameter exists in the URL
      if (urlParams.has('showHelp')) {
          // Create a Bootstrap modal instance
          const helpModal = new bootstrap.Modal(document.getElementById('helpModal'));

          // Show the modal
          helpModal.show();
      }
  });
</script>

<script nonce="{{CSP_NONCE}}" type="module">
  import userBehaviorTracker from '{% static 'pio/js/userbehavior.js' %}';
  userBehaviorTracker.initialize({
    processTime: 30,
    mouseMovementInterval: 2
  });
</script>

<script nonce="{{CSP_NONCE}}" type="module">
  import { initializeMap } from '{% static 'pio/js/map.js' %}';

  // Initialize the map when DOM is loaded
  document.addEventListener('DOMContentLoaded', () => {
      const mapManager = initializeMap('mapconfig-data');

      // Expose to window for debugging if needed
      window.mapManager = mapManager;
  });
</script>
<script type="module" src="{% static 'pio/js/map.js' %}"></script>

</body>
</html>
