# /etc/systemd/system/mapsurvey-git-deploy.service
[Unit]
Description=Git Pull and Build with Error Handling (DEV BRANCH)
After=network-online.target
Wants=network-online.target

[Service]
Environment=NODE_ENV=production
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/node/bin
Environment=GIT_REMOTE=origin
Environment=GIT_BRANCH=main
Type=oneshot
User=deploy
Group=deploy
WorkingDirectory=/opt/mapsurvey
ExecStartPre=/bin/bash -c 'git fetch origin'
ExecStart=/bin/bash -c 'git fetch ${GIT_REMOTE} && git diff HEAD ${GIT_REMOTE}/${GIT_BRANCH} --quiet && echo "No changes" || (echo "Changes detected" && git pull ${GIT_REMOTE} ${GIT_BRANCH} && sudo /opt/mapsurvey/mapcfg run)'
#ExecStartPost=/bin/systemctl reload nginx

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=git-deploy

# Security (optional)
NoNewPrivileges=false
PrivateTmp=true
